 @import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@1&family=Inclusive+Sans:ital@1&family=Inter&family=Kaushan+Script&family=Lato&family=Mulish&family=Nunito&family=Nunito+Sans:opsz@6..12&family=Oswald&family=Playfair+Display&family=Playfair:opsz@5..1200&family=Poppins&family=Roboto&family=Roboto+Slab&display=swap');


*{
    margin: 0px;
    padding: 0px;
    background-color:#360369;
    font-family: 'Poppins', sans-serif;
    
}
h1{
    color: #FFF;
    text-align: center;
    font-size: 7rem;
    font-weight: 700;
    margin-top: 300px;
    margin-bottom: 50px;
}
#btn{
   
    background-color: white;
    padding: 10px 150px;
    text-decoration: none;
    color: black;
    font-size: 1.7rem;
    font-weight: 300;
    margin-left: 38vw;
    margin-top: 100;
}
#btn:hover{
    padding: 12px 150px;
    /* border: none; */
    color: white;
    background-color: rgb(159, 159, 8);
}
