
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@1&family=Inclusive+Sans:ital@1&family=Inter&family=Kaushan+Script&family=Lato&family=Mulish&family=Nunito&family=Nunito+Sans:opsz@6..12&family=Oswald&family=Playfair+Display&family=Playfair:opsz@5..1200&family=Poppins&family=Roboto&family=Roboto+Slab&display=swap');


*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
#top{
    background-color: #360369;
    height: 80vh;
    padding-left: 60px;
    padding-top: 60px;
}
#heading h2{
    color: white;
    font-size: 3rem;
    padding-bottom: 10px;
} 
 #heading p{
    color: white;
    font-size: 1.2rem;
    margin-bottom: 20px;
} 

#bottom{
    color: #360369;
    font-size: 2.2rem ;
    padding-left: 20px;
    padding-top: 20px;
}

#latgap{
    color: white;
    font-size: 1.4rem;
    padding: 10px 60px;
  background-color: #270846;
  margin-right: 15px;
  margin-top: 10px;
  border-radius: 10px;
}

#longgap {
    color: white;
    font-size: 1.4rem;
    padding: 10px 60px;
    background-color: #270846;
    border-radius: 10px;
  }
  

.maps{
        margin-left: 20vw;
        margin-top: 3.5vw;
        /* padding: 100px; */
}

#data{
    height: 7vh;
    width: 18vw;
    border-radius: 10px;
    background-color:#360369;
    color: #ffffff;
    margin-top: 20px;
    display: flex;
    align-items: center;
    padding-left: 10px;
   }

   #details{
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    margin-right: 10px;
    flex-wrap: wrap;
    flex-direction: row;
   }
 
