*{
    margin: 0px;
    padding: 0px;
    background-color:#360369;
    
}
h1{
    color: #FFF;
    text-align: center;
    font-size: 7rem;
    font-weight: 700;
    margin-top: 300px;
    margin-bottom: 50px;
}
#btn{
   
    background-color: white;
    padding: 10px 150px;
    text-decoration: none;
    color: black;
    font-size: 1.7rem;
    font-weight: 300;
    margin-left: 38vw;
    margin-top: 100;
}
#btn:hover{
    padding: 12px 150px;
    /* border: none; */
    color: white;
    background-color: rgb(159, 159, 8);
}
